:root {
    --primary-soft: #4e73df8f;
    --primary-lighten: #d5dae7;
    --white: #fff;
}

* {
    box-sizing: border-box;
}



/* Test classes */
.bg-pink {background: pink}
.bg-red {background: red}
.bg-blue {background: blue}



.debug-modal {
    background: #bdefbd;
    color: black;
    padding: 1.5rem;
    position: fixed;
    top: 5px;
    left: 5px;
    max-width: 50%;
    z-index: 500000;
    border-radius: 5px;
}

.info-primary-soft {
    background-color: var(--primary-soft);
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: var(--white);
    font-weight: bold;
}

.dashboard-info .item {max-width: 100%;}
.text-large {
    font-size: 3em!important;
}

.admin-product-thumbnails {background: white; display: flex; flex-direction: row;flex-wrap:wrap;}

.admin-product-thumbnails .thumbnail-wrapper {
    width: fit-content;
    min-width: fit-content;
    border: 1px solid var(--primary-soft);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    margin: 0.25rem;
    padding: 0.25rem;
}

.admin-product-thumbnails .thumbnail-wrapper img.thumbnail {
    width: 5rem;
    max-width: 100%;
    border-radius: 0.25rem;
    margin: 0.25rem;
}

.admin-product-thumbnails .thumbnail-wrapper .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* Product Tags */

.product-tag {
    font-size: .9rem;
    background-color: var(--primary-lighten);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.checkboxes-wrapper {
    column-gap: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.checkboxes-wrapper .product-tag {
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}
.checkboxes-wrapper input {
    margin-right: 0.25rem;
    cursor: pointer;
}

