/* Test classes */
.bg-pink {background: pink}
.bg-red {background: red}
.bg-blue {background: blue}



.debug-modal {
    background: #bdefbd;
    color: black;
    padding: 1.5rem;
    position: fixed;
    top: 5px;
    left: 5px;
    max-width: 50%;
    z-index: 500000;
    border-radius: 5px;
}